:root {
  --font-default: "Torus Pro SemiBold", sans-serif;
  --font-semiBoldItalic: "Torus Pro SemiBold Italic";

  /* colors */
  --pageBackground: #111;
  --primaryColor: #3ba5a5;
  --secondaryColor1: #6a9eff;
  --secondaryColor2: #1d3f52;
  --hoverColor: #3bd2a5;
  --highlightColor: #6b9ccb;
  --errorColor: #ef4040;

  /* cards */
  --cardColor: #2e2e38;
  --cardLinesColor: #3a3946;
  --cardBackgroundColor: #22222a;
  --borderColor: white;

  /* text */
  --textColorDefault: white;
  --shadowColorDefault: #00000029;
}
