header {
  height: 88px;

  .header-shared {
    flex-direction: row;
    // min-height: 100%;
    // justify-content: space-between;

    .header-inner {
      display: flex;
      width: 1644px;
      // height: 80px;
      padding: 12px 32px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      transition: transform 0.2s;

      border-radius: 0px 0px 25px 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(
          180deg,
          rgba(246, 65, 141, 0) 0%,
          rgba(246, 65, 141, 0.08) 51.04%,
          rgba(91, 63, 75, 0.2) 100%
        ),
        var(--colorTriary);
    }

    h1 {
      font-size: 42px;
      font-weight: 281;
    }

    #navigationButtons {
      > div {
        width: fit-content;

        a {
          transition: all 0.2s ease-in-out;
        }
      }
    }

    @media screen and (max-width: 1500px) {
      h1 {
        a {
          padding: 0px;
          border: 0px solid var(--borderColor);

          &:hover {
            color: var(--borderColor);
            background-color: transparent;
          }
        }
      }

      #navigationButtons {
        > div a {
          width: 150px;

          &:hover::after {
            width: 150px;
          }
        }
      }
    }

    /* very very jank weird searchbar code */
    #search-container {
      /* Change the white to any color */
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--Card-Content-Background, #382e37) inset !important;
      }
      /*Change text in autofill textbox*/
      input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
      }

      #main-bar {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        width: 454px;
        height: 52px;

        border-radius: 30px;
        border: 3px solid var(--colorPrimary);
        background: var(--colorCards);
        padding-left: 24px;

        .searchBtn {
          text-align: center;
          flex-shrink: 0;
          width: 58px;
          height: 46px;
          color: white;
          border: none;

          border-radius: 0px 25px 25px 0px;
          background: var(--colorCardDivisor);

          .ph-bold.ph-magnifying-glass {
            font-size: 28px;
          }
        }
      }

      &:focus-visible {
        outline: none;
      }

      input#search-input {
        width: 100%;
        height: 100%;

        color: #808080;
        background: none;
        text-align: left;
        border: none;
        font-family: "Author", sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: 494;

        &:focus-visible {
          outline: none;
        }
      }

      #results-unfuck {
        z-index: 1;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 22px;
        position: absolute;

        display: none; // in main.js, we will make this display as flex
        flex-direction: column;
        width: 406px;
        max-height: 408px;
        // padding: 16px;
        border-radius: 0px 0px 30px 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(
            180deg,
            rgba(246, 65, 141, 0) 0%,
            rgba(246, 65, 141, 0.08) 51.04%,
            rgba(91, 63, 75, 0.2) 100%
          ),
          var(--colorCards);

        // padding-left: 16px;
        // padding-right: 16px;

        // &:first-child {
        //   padding-top: 16px;
        // }

        // &:last-child {
        //   padding-bottom: 16px;
        // }

        padding: 16px;
      }

      #results-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        overflow: auto;

        li::marker {
          content: "";
        }

        .searchItem {
          width: 100%;

          a {
            color: white;
            display: flex;
            justify-content: center;
            justify-items: center;
            padding: 10px;
            gap: 8px;

            font-size: 20.25px;
            font-style: normal;
            font-weight: 600;

            border-radius: 15px;
            background: var(--colorCardDivisor);

            &:hover {
              background: var(--colorCardDivisorHover);
            }
          }
        }
      }
    }
  }

  &.sticky {
    height: 64px;

    .header-inner {
      height: 100%;
      border-bottom: none;
    }

    .logo {
      font-size: 32px;
      font-style: normal;
      line-height: normal;

      img {
        width: 44px;
      }
    }

    #navigationButtons {
      gap: 4px;

      > div a {
        border-radius: 0px;
      }

      > div:first-child a {
        border-radius: 25px 0 0 25px;
      }

      > div:last-child a {
        border-radius: 0 25px 25px 0;
      }
    }

    .header-inner {
      #search-container {
        #results-container {
          margin-top: 10px;
        }

        #main-bar {
          flex-shrink: 0;
          height: 42px;

          .searchBtn {
            flex-shrink: 0;
            width: 48px;
            height: 36px;

            .ph-bold.ph-magnifying-glass {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
