header {
  height: 148px;
  border-radius: 0 0 25px 25px;

  .header-shared {
    flex-direction: row;
    min-height: 100%;
    justify-content: space-between;

    h1 {
      margin: auto;
      /* some values are changed to my liking - john */
      a {
        gap: 8px;
        font-size: 42px;
        border: 8px solid var(--borderColor);
        height: 100px;
        border-radius: 50px;
        padding: 0 18px;
        transition: all 0.2s ease-in-out;

        img {
          width: 56px;
        }

        &:hover {
          color: var(--pageBackground);
          background-color: var(--borderColor);
        }
      }
    }

    #navigationButtons {
      > div {
        width: fit-content;

        a {
          transition: all 0.2s ease-in-out;
        }
      }
    }

    @media screen and (max-width: 1500px) {
      h1 {
        a {
          padding: 0px;
          border: 0px solid var(--borderColor);

          &:hover {
            color: var(--borderColor);
            background-color: transparent;
          }
        }
      }

      #navigationButtons {
        > div a {
          width: 150px;

          &:hover::after {
            width: 150px;
          }
        }
      }
    }
  }

  &.sticky {
    height: 100px;

    h1 {
      a {
        padding: 0px;
        border: 0px solid transparent;

        &:hover {
          color: var(--borderColor);
          background-color: transparent;
        }
      }
    }

    #navigationButtons {
      gap: 4px;

      > div a {
        border-radius: 0px;
      }

      > div:first-child a {
        border-radius: 25px 0 0 25px;
      }

      > div:last-child a {
        border-radius: 0 25px 25px 0;
      }
    }
  }
}
