header {
  height: 88px;

  .header-shared {
    min-height: 100%;
    flex-direction: row;
    justify-content: space-evenly;

    #btnContainer {
      text-align: center;
      width: 150px;
    }

    #hamburgerBtn {
      text-align: center;
      cursor: pointer;
      flex-shrink: 0;
      color: white;
      border: none;
      background: none;
      border-radius: 32px;
      padding: 4px;

      .ph-bold.ph-list {
        font-size: 42px;
      }

      &:hover {
        background: var(--colorCardDivisorHover);
      }
    }

    #twoBotans {
      display: flex;
      width: 150px;
      justify-content: space-evenly;
    }

    #githubBtn {
      text-align: center;
      flex-shrink: 0;
      color: white;
      border: none;
      background: none;
      border-radius: 25px;
      padding: 4px;

      .ph-bold.ph-github-logo {
        font-size: 32px;
      }

      &:hover {
        background: var(--colorCardDivisorHover);
      }
    }

    #discordBtn {
      text-align: center;
      flex-shrink: 0;
      color: white;
      border: none;
      background: none;
      border-radius: 25px;
      padding: 4px;

      .ph-bold.ph-discord-logo {
        font-size: 32px;
      }

      &:hover {
        background: var(--colorCardDivisorHover);
      }
    }

    /* navigation bar */
    #navSidebar {
      position: absolute;
      left: -500px; // in main.js, we will make this display as flex when the menu button is pressed
      margin-top: 506px;

      display: flex;
      width: 406px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      border-radius: 0px 30px 30px 0px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(
          180deg,
          rgba(246, 65, 141, 0) 0%,
          rgba(246, 65, 141, 0.08) 51.04%,
          rgba(91, 63, 75, 0.2) 100%
        ),
        var(--colorCards, #382e37);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      transition: 0.4s;

      &.active {
        left: 0;
      }

      /* weirdness being applied in the js */
      /* workaround for now */
      &.sticky {
        margin-top: 482px;
      }

      #navWedgeContainer {
        position: sticky;
        padding: 16px;
        width: 100%;

        hr {
          margin-top: 8px;
          margin-bottom: 8px;
          margin-left: 0;
          margin-right: 0;
          height: 2px;
        }

        #navWedgeItems {
          display: block;
          overflow-y: scroll;
          overflow: auto;
          font-size: 18px;
          font-weight: 500;
          max-height: calc(100vh - 144px);

          h3:first-child {
            margin-top: 0;
          }

          h3 {
            margin-top: 8px;
            margin-bottom: 8px;
          }

          h3::before {
            content: "";
            display: inline-block;
            background: var(--colorSecondary) 0% 0% no-repeat padding-box;
            height: 17px;
            margin-right: 8px;
            width: 4px;
            position: inherit;
            border-radius: 2px;
          }

          ol {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            overflow: auto;

            .buttonDefault a {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              height: 100%;
              width: 100%;
              padding: 10px;
              gap: 8px;
            }
          }
        }

        &.sticky {
          top: 64px;
          position: sticky;
        }
      }
    }

    .header-inner {
      display: flex;
      align-self: flex-start;
      flex: 1;
      padding: 12px 32px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      transition: transform 0.2s;

      border-radius: 0px 0px 25px 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(
          180deg,
          rgba(246, 65, 141, 0) 0%,
          rgba(246, 65, 141, 0.08) 51.04%,
          rgba(91, 63, 75, 0.2) 100%
        ),
        var(--colorTriary);
    }

    h1 {
      font-size: 42px;
      font-weight: 281;
    }

    #navigationButtons {
      > div {
        width: fit-content;

        a {
          transition: all 0.2s ease-in-out;
        }
      }
    }

    @media screen and (max-width: 1500px) {
      h1 {
        a {
          padding: 0px;
          border: 0px solid var(--borderColor);

          &:hover {
            color: var(--borderColor);
            background-color: transparent;
          }
        }
      }

      #navigationButtons {
        > div a {
          width: 150px;

          &:hover::after {
            width: 150px;
          }
        }
      }
    }

    /* very very jank weird searchbar code */
    #search-container {
      /* Change the white to any color */
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--colorContentContainer) inset !important;
      }
      /*Change text in autofill textbox*/
      input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
      }

      #main-bar {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        width: 454px;
        height: 52px;

        border-radius: 30px;
        border: 3px solid var(--colorPrimary);
        background: var(--colorCards);
        padding-left: 24px;

        // not really a button right now but we might change that eventually
        .searchBtn {
          // text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          width: 58px;
          height: 46px;
          color: white;
          border: none;

          border-radius: 0px 25px 25px 0px;
          background: var(--colorCardDivisor);

          .ph-bold.ph-magnifying-glass {
            font-size: 28px;
          }
        }
      }

      &:focus-visible {
        outline: none;
      }

      input#search-input {
        width: 100%;
        height: 100%;

        color: #808080;
        background: none;
        text-align: left;
        border: none;
        font-family: "Author", sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: 494;

        &:focus-visible {
          outline: none;
        }
      }

      // in theory i would like this to move with the header when the header collapses instead of it transitioning weirdly
      #results-unfuck {
        z-index: 1;
        padding: 16px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 22px;
        position: absolute;

        display: none; // in main.js, we will make this display as flex when there are items in #results-unfuck
        flex-direction: column;
        width: 406px;
        max-height: 408px;
        border-radius: 0px 0px 30px 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(
            180deg,
            rgba(246, 65, 141, 0) 0%,
            rgba(246, 65, 141, 0.08) 51.04%,
            rgba(91, 63, 75, 0.2) 100%
          ),
          var(--colorCards);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: 0.2s;
      }

      #results-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        overflow: auto;

        li::marker {
          content: "";
        }

        .buttonDefault {
          width: 100%;
        }

        .buttonDefault a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
          height: 100%;
          padding: 10px;
          gap: 8px;
        }
      }
    }
  }

  &.sticky {
    height: 64px;

    .logo {
      font-size: 32px;
      font-style: normal;
      line-height: normal;

      img {
        width: 44px;
      }
    }

    #navigationButtons {
      gap: 4px;

      > div a {
        border-radius: 0px;
      }

      > div:first-child a {
        border-radius: 25px 0 0 25px;
      }

      > div:last-child a {
        border-radius: 0 25px 25px 0;
      }
    }

    .header-inner {
      height: 100%;
      border-bottom: none;

      #search-container {
        #results-unfuck {
          margin-top: 11px;
          transition: 0.2s;
        }

        #main-bar {
          flex-shrink: 0;
          height: 42px;

          .searchBtn {
            flex-shrink: 0;
            width: 48px;
            height: 36px;

            .ph-bold.ph-magnifying-glass {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
