header {
  position: fixed;
  overflow: visible; // for the search container
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, #2a2228 0%, rgba(42, 34, 40, 0.52) 48.96%, rgba(42, 34, 40, 0) 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: height 0.2s ease-in-out;
  z-index: 1;

  .header-shared {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    overflow: hidden;

    h1 {
      text-shadow: none;

      a {
        color: var(--borderColor);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        transition: font-size 0.2s;

        img {
          width: font-size 0.2s;
          margin-right: 12px;
        }
      }
    }
  }
}

/*
 * These files are split like this so 
 * that we don't have to spam !important
 */

@media screen and not (max-width: 1024px) {
  @import "./desktop";
}

@media screen and (max-width: 1024px) {
  @import "./mobile";
}
