header {
  position: fixed;
  overflow: visible; // for the search container
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, #2a2228 0%, rgba(42, 34, 40, 0.52) 48.96%, rgba(42, 34, 40, 0) 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: height 0.2s ease-in-out;
  z-index: 1;

  .header-shared {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    // transition: transform 0.2s;
    overflow: hidden;

    .header-inner {
      transition: all 0.2s ease-in-out;

      #search-container #main-bar {
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;

        .searchBtn {
          transition: inherit;
        }
      }
    }

    img {
      transition: all 0.5s ease;
    }

    h1 {
      text-shadow: none;
      transition: all 0.2s ease-in-out;

      a {
        color: var(--borderColor);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        // transition: font-size 0.2s;

        img {
          // width: font-size 0.2s;
          margin-right: 12px;
        }
      }
    }

    /* navigation bar */
    /* the rest of the styles are split between mobile and desktop */
    #navSidebar {
      position: absolute;
      height: 100vh;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      border-radius: 0px 30px 30px 0px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(
          180deg,
          rgba(246, 65, 141, 0) 0%,
          rgba(246, 65, 141, 0.08) 51.04%,
          rgba(91, 63, 75, 0.2) 100%
        ),
        var(--colorCards);
      transition: 0.4s;

      &.active {
        left: 0;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      }

      #navWedgeContainer {
        position: sticky;
        padding: 16px;
        width: 100%;

        #navHeader {
          display: flex;
          align-items: center;
          gap: 10px;

          #sidebarX {
            display: flex;
            align-items: center;
            color: var(--colorWhite);
            background: none;
            border: none;
            font-size: 32px;

            &:hover {
              color: var(--colorGray);
            }
          }
        }

        hr {
          margin-top: 8px;
          margin-bottom: 8px;
          margin-left: 0;
          margin-right: 0;
          height: 2px;
        }

        #navWedgeItems {
          display: block;
          overflow-y: scroll;
          overflow: auto;
          font-size: 18px;
          font-weight: 500;
          max-height: calc(100vh - 144px);

          h3:first-child {
            margin-top: 0;
          }

          h3 {
            margin-top: 8px;
            margin-bottom: 8px;
          }

          h3::before {
            content: "";
            display: inline-block;
            background: var(--colorSecondary) 0% 0% no-repeat padding-box;
            height: 17px;
            margin-right: 8px;
            width: 4px;
            position: inherit;
            border-radius: 2px;
          }

          ol {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            overflow: auto;

            .buttonDefault a {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              height: 100%;
              width: 100%;
              padding: 10px;
              gap: 8px;
            }
          }
        }

        &.sticky {
          top: 64px;
          position: sticky;
        }
      }
    }
  }
}

/*
 * These files are split like this so 
 * that we don't have to spam !important
 */

@media screen and not (max-width: 1140px) {
  @import "./desktop";
}

@media screen and (max-width: 1140px) {
  @import "./mobile";
}
