:root {
  --font-default: "Author", sans-serif;

  /* new colors */
  --colorPrimary: #f06c9b;
  --colorSecondary: #b775f0;
  --colorTriary: #661f57;
  --colorLinks: #f06c9b; // #1ad1cb
  --colorLinksHover: #f9c4d7; // #88e7e7
  --colorBorderTertiary: #854c68;
  --colorLight: #564552;

  /* cards */
  --colorCards: #382e37;
  --colorCardDivisor: #453641;
  --colorCardDivisorHover: #584a54;
  --colorContentContainer: #2a2228;

  /* misc */
  --colorGray: #808080;
  --colorWhite: #ffffff;
  --colorRed: #ef4040;
  --colorGreen: #51a775;
  --colorBlue: #6097b8;
}
