:root {
  --font-default: "Torus Pro SemiBold", sans-serif;
  --font-semiBoldItalic: "Torus Pro SemiBold Italic";

  /* colors */
  --pageBackground: #111;
  --primaryColor: #f075c5;
  --secondaryColor1: #b775f0;
  --secondaryColor2: #661f57;
  --hoverColor: #ff54a9;
  --highlightColor: rgb(202, 156, 255);
  --errorColor: #ef4040;

  /* cards */
  --cardColor: #382e37;
  --cardLinesColor: #868b9c;
  --cardBackgroundColor: #2a2228;
  --borderColor: white;
  --borderColor2: #8b5580;

  /* text */
  --textColorDefault: white;
  --shadowColorDefault: #00000029;
  --linkColor: #53dcdc;
  --linkHover: #88e7e7;
}
