@keyframes highlight {
  0%,
  50% {
    background: var(--colorLight);
  }
  100% {
    background: var(--colorCardDivisor);
  }
}

#commentSection {
  display: flex;
  max-width: 1136px;
  height: auto;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  border-radius: 35px;
  background: var(--colorCards);

  .highlight {
    animation: highlight 2s ease-out;
    border-radius: 35px;
  }

  h3 {
    padding-bottom: 8px;
    border-bottom: solid 1px var(--colorGray);

    &:before {
      content: "";
      display: inline-block;
      background: var(--colorSecondary) 0% 0% no-repeat padding-box;
      height: 17px;
      margin-right: 8px;
      width: 4px;
      position: inherit;
      border-radius: 2px;
    }
  }

  @keyframes spin-spin-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #comment-loader {
    font-size: 32px;
    align-self: center;

    i {
      display: inline-block;
      background: var(--colorCardDivisor);
      padding: 4px;
      border-radius: 10px;
      animation: spin-spin-spin 1.2s linear infinite;
    }
  }

  .comment-wrapper {
    padding: 0;
    border-radius: 10px;
    background: var(--colorCardDivisor);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    position: relative;

    &:first-of-type:not(:last-of-type) {
      border-radius: 20px 20px 10px 10px;
    }

    &:last-of-type:not(:first-of-type) {
      border-radius: 10px 10px 20px 20px;
    }

    &:first-of-type:last-of-type {
      border-radius: 20px;
    }

    .nested {
      bottom: 0;
      position: absolute;
      height: calc(100% - 60px);
      padding-bottom: 10px;
      display: none;
      .line {
        display: block;
        height: 100%;
        width: 4px;
        background: var(--colorGray);
        border-radius: 2px;
        margin-left: 28px;
      }
    }

    .comment-card {
      min-height: 60px;
      //   max-height: 146px;
      display: flex;
      padding: 10px;
      align-self: stretch;

      .profile-left {
        display: flex;
        padding-right: 10px;
        gap: 10px;
        flex-direction: column;
        align-self: flex-start;

        #pfp {
          width: 40px;
          height: 40px;

          border-radius: 20px;
          outline: 2px solid var(--profile-accent);
        }
      }

      .comment-holder {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;

        .comment-details-header {
          display: flex;
          gap: 5px;
          align-self: stretch;

          #username {
            color: var(--colorPrimary);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .badges {
            display: flex;
            margin-top: 3px;
            gap: 4px;
          }

          //   .badge {
          //     padding: 2px 8px;
          //     border-radius: 8px;
          //     p {
          //       opacity: 0.75;
          //       color: black;
          //     }
          //   }

          #data {
            margin-top: 1px;
            color: var(--colorGray);
            font-size: 16px;
            font-style: italic;
            font-weight: 600;
            line-height: normal;
          }
        }

        .content {
          align-self: stretch;
          word-wrap: anywhere;

          color: var(--colorWhite);
          font-size: 18px;
          font-style: normal;
          font-weight: 375;
          line-height: 26px; /* 144.444% */

          p {
            overflow: hidden;
            text-overflow: ellipsis;

            &.imFading {
              position: relative;

              &:after {
                background-image: linear-gradient(
                  180deg,
                  transparent,
                  var(--colorCardDivisor)
                );
                bottom: 0;
                content: "";
                display: block;
                height: 38px;
                left: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
              }
            }
          }

          #readMore {
            font-size: 16px;
          }
        }

        .comment-wrapper {
          padding: 10px;
          box-shadow: none;
          border: none;

          .comment-card {
            padding: 0;
          }

          .comment-icons-container {
            align-self: center;
            justify-self: center;
          }

          .comment-poster {
            .buttonPost:not(:last-child) {
              padding: 0 4px 0 0;
            }
          }
        }

        .comment-wrapper:nth-child(3) {
          padding-bottom: 0;
        }

        .comment-wrapper:not(:nth-child(3)) {
          padding: 8px 8px 0 10px;
        }
        .comment-wrapper:last-of-type {
          padding-bottom: 0;
        }
      }

      .comment-icons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        align-self: stretch;

        .comment-icons {
          display: flex;
          align-items: center;
          gap: 4px;

          #comment-upvotecount {
            font-size: 20px;
          }

          .comment-icon {
            cursor: pointer;
            color: var(--colorGray);
            font-size: 22px;

            &:hover {
              color: var(--colorWhite);
            }
            &.done {
              color: var(--colorPrimary);
            }
            &#comment-delete:hover,
            &#comment-report:hover {
              color: var(--colorRed);
            }
          }
        }
      }

      .comment-poster {
        height: 100%;

        /* Change the white to any color */
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        textarea:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px var(--colorLight) inset !important;
        }
        /*Change text in autofill textbox*/
        textarea:-webkit-autofill {
          -webkit-text-fill-color: white !important;
        }

        /* Firefox */
        textarea:-moz-autofill,
        textarea:-moz-autofill:hover,
        textarea:-moz-autofill:focus,
        textarea:-moz-autofill:active {
          box-shadow: 0 0 0 30px var(--colorLight) inset !important;
          color: white !important;
        }

        border-radius: 5px;
        background: var(--colorLight);
        display: flex;
        width: 100%;
        padding: 0px 10px 0px 12px;
        border-radius: 10px;

        #comment-input {
          width: 100%;
          // height: 40px;
          background: var(--colorLight);
          border: none;
          color: white;
          //   max-height: 80px;

          overflow: hidden;
          overflow-wrap: break-word;
          margin: 0;
          outline: none;
          resize: none;
          padding: 0.7em 0;

          font-family: "Author", sans-serif;
          font-size: 16px;

          &:focus-visible {
            outline: none;
          }

          &::-webkit-input-placeholder {
            font-style: italic;
            font-weight: 500;
            color: var(--colorWhite) !important;
            opacity: 0.5 !important;
          }

          &::-moz-placeholder {
            font-style: italic;
            font-weight: 500;
            color: var(--colorWhite) !important;
            opacity: 0.5 !important;
          }
        }

        .buttonPost {
          display: flex;
          width: auto;
          height: auto;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          cursor: pointer;

          border-radius: 5px;

          font-size: 14px;
          line-height: normal;
          color: var(--colorWhite);
          transition: 200ms;

          i {
            color: var(--colorGray);
            font-size: 22px;
            transition: 200ms;
          }

          &:hover {
            transition: 50ms;

            i {
              color: var(--colorWhite);
              transition: 50ms;
            }
          }
        }
      }
    }
  }
}

/*
 * These files are split like this so 
 * that we don't have to spam !important
 */

@media screen and not (max-width: 645px) {
  @import "./desktop";
}

@media screen and (max-width: 645px) {
  @import "./mobile";
}
