<div id="breadcrumbs">
{% comment %}This is probably the most JANK I've written. But, hey, it's automatic now.{% endcomment %}
{% assign route="" %}
{% assign breadCrumbPath = "/" %}
{% if include.page.permalink != null and include.page.permalink != "" %}
{% assign breadCrumbPath = include.page.permalink | replace: ':title', include.page.title %}
{% else %}
{% assign breadCrumbPath = include.page.title %}
{% endif %}

{% assign breadCrumbs = breadCrumbPath | split:"/" %}

{% assign filename_without_extension = breadCrumbs | last | split:"." | first %}
{% if breadCrumbs contains "_posts" or filename_without_extension == "index" %}
{% assign breadCrumbs = breadCrumbs | pop %}
{% endif %}

<a href="{{ '/' }}">Homepage</a>
{% for breadCrumb in breadCrumbs %}
{% if breadCrumb != "" %}
<i class="ph-bold ph-caret-right"></i>
{% assign route = route | append: '/' | append: breadCrumb %}
{% if forloop.last %}
{% if include.page.title %}{{include.page.title}}{% else %}{{ breadCrumb }}{% endif %}
{% else %}
<a href="{{ route }}">
{% assign breadCrumbTitleWords = breadCrumb | replace: "-", " " | remove: ".html" | split: " " %}
{% for breadCrumbTitleWord in breadCrumbTitleWords %}
{% if breadCrumbTitleWord != "the" or breadCrumbTitleWord != "of" or breadCrumbTitleWord != "and" %}
{{ breadCrumbTitleWord | capitalize }}
{% else %}
{{ breadCrumbTitleWord }}
{% endif %}
{% endfor %}
</a> 
{% endif %}
{% endif %}
{% endfor %}
</div>