<div id="commentSection">
  <h3>Comments</h3>
  <div class="comment-wrapper">
    <form method="POST" action="#" id="my-comment-form">
      <div
        class="comment-card my-card"
        style="--profile-accent: var(--colorWhite)"
      >
        <div class="profile-left">
          <img id="pfp" src="/assets/images/avatar.png" />
        </div>
        <div class="comment-poster">
          <textarea
            id="comment-input"
            placeholder="Type some text here! Press enter to post. Use shift+enter for a new line."
          /></textarea>
          <div class="buttonPost">
            <i class="ph-bold ph-paper-plane-right"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="comment-loader"><i class="ph-bold ph-spinner-gap"></i></div>
</div>
