<div id="commentSection">
  <h3>Comments</h3>
  <div class="comment-wrapper">
    <form method="POST" action="#" id="my-comment-form">
      <div class="comment-card my-card" style="--profile-accent: var(--colorWhite)">
        <div class="profile-left">
          <img id="pfp" src="/assets/images/avatar.png" />
        </div>
        <div class="comment-poster">
          <input id="comment-input" placeholder="Type some text here! Press enter to post. Use shift+enter for a new line." />
          <div class="buttonPost">
            <i class="ph-bold ph-paper-plane-right"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="comment-wrapper">
    <form method="POST" action="#" id="comment-form-1">
      <div class="comment-card" style="--profile-accent: var(--colorWhite)">
        <div class="profile-left">
          <img id="pfp" src="https://cdn.discordapp.com/avatars/222073294419918848/a_2e9fd8c238dca1437d3214c799e6705a.gif?size=1024" />
          <div class="nested"></div>
        </div>
        <div class="comment-holder">
          <div class="comment-details-header">
            <p id="username">codertek</p>
            <p id="data">Jan 28th, 2024 - 11 hours ago</p>
          </div>
          <div class="content">
            <p>young man, treat yourself to a nice dinner with the staff team :3 my name is matt i love kissing boys</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="comment-wrapper">
    <form method="POST" action="#" id="comment-form-1">
      <div class="comment-card" style="--profile-accent: var(--colorWhite)">
        <div class="profile-left">
          <img id="pfp" src="https://cdn.discordapp.com/avatars/222073294419918848/a_2e9fd8c238dca1437d3214c799e6705a.gif?size=1024" />
          <div class="nested"></div>
        </div>
        <div class="comment-holder">
          <div class="comment-details-header">
            <p id="username">codertek</p>
            <p id="data">Jan 28th, 2024 - 11 hours ago</p>
          </div>
          <div class="content">
            <p>young man, treat yourself to a nice dinner with the staff team :3 my name is matt i love kissing boys</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
