<header>
  <div class="header-shared">
    <div class="header-inner">
      <h1 class="logo">
        <a href="/index.html">
          <img src="/assets/images/caramel.png" alt="camellia wiki logo" />
          Camellia • Wiki
        </a>
      </h1>

      <div id="search-container">
        <div id="main-bar">
          <input type="text" id="search-input" placeholder="Search..." />
          <button class="searchBtn"><i class="ph-bold ph-magnifying-glass"></i></button>
        </div>
        <div id="results-unfuck">
          <ul id="results-container"></ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="header-mobile-scroll">
    <h1 class="logo">
      <a href="/index.html">
        <img src="/assets/images/caramel.png" alt="camellia wiki logo" />
        Camellia • Wiki
      </a>
    </h1>
  </div> -->
</header>
