<header>
  <div class="header-shared">
    <h1 class="logo italic">
      <a href="/index.html">
        <img src="/assets/images/caramel.png" alt="camellia wiki logo" />
        Camellia • Wiki
      </a>
    </h1>

    <nav id="navigationButtons">
      <div class="buttonDefault specialLine">
        <a href="/index.html">Articles</a>
      </div>

      <div class="buttonDefault specialLine">
        <a href="/camelliaEvents.html">Camellia Events</a>
      </div>

      <div class="buttonDefault specialLine">
        <a href="/staffGuidelines.html">Staff Guidelines</a>
      </div>

      <div class="buttonDefault specialLine">
        <a href="/tests.html">Site Tests</a>
      </div>
    </nav>
  </div>

  <div class="header-mobile-scroll">
    <h1 class="logo italic">
      <a href="/index.html">
        <img src="/assets/images/caramel.png" alt="camellia wiki logo" />
        Camellia • Wiki
      </a>
    </h1>
  </div>
</header>