<div id="navSide"><ul id="navContainer"></ul></div>

<div id="navSidebar">
  <div id="navWedgeContainer">
    <h3>Main Menu</h3>
    <hr />
    <nav id="navWedgeItems">
      <h3>Site Navigation</h3>
      <ol>
        <div class="buttonDefault">
          <a href="/index.html"
            >Main Page
            <div class="author">Also known as the Homepage</div></a
          >
        </div>
        <div class="buttonDefault">
          <a href="/staffGuidelines.html"
            >Staff Guidelines
            <div class="author">Camellia Server Staff Guidelines</div></a
          >
        </div>
        <div class="buttonDefault">
          <a href="/about.html"
            >About Page
            <div class="author">What is this site about?</div></a
          >
        </div>
        <div class="buttonDefault">
          <a href="/tests.html"
            >Site Tests
            <div class="author">Specific Pages for testing stuff</div></a
          >
        </div>
      </ol>
    </nav>
  </div>
</div>
