<div class="sidebar-wrapper">
  <div id="navSidebar">
    <div id="navWedgeContainer">
      <div id="navHeader">
        <button id="sidebarX"><i class="ph ph-x"></i></button>
        <h3>Main Menu</h3>
      </div>
      <hr />
      <nav id="navWedgeItems">
        <h3>Profile</h3>
        <div class="profile-wrapper">
          <div class="profile-card my-card" style="--profile-accent: var(--colorWhite)">
            <div class="profile-left">
              <img id="pfp" src="/assets/images/avatar.png" />
              <div id="profile-details">
                <p id="profile-header">Not Logged in!</p>
                <p id="profile-subheader">Login to access more features...</p>
              </div>
            </div>
            <div class="buttonLogin">
              <i class="ph-bold ph-sign-in"></i>
            </div>
          </div>
        </div>
        <hr />
        <h3>Site Navigation</h3>
        <ol>
          <div class="buttonDefault">
            <a href="/index.html"
              >Main Page
              <div class="author">Also known as the Homepage</div></a
            >
          </div>
          <div class="buttonDefault">
            <a href="/staffGuidelines.html"
              >Staff Guidelines
              <div class="author">Camellia Server Staff Guidelines</div></a
            >
          </div>
          <div class="buttonDefault">
            <a href="{% link postsWiki/_posts/2023-12-11-contributing.md %}"
              >How to Contribute
              <div class="author">Contributing Guidelines and Info!</div></a
            >
          </div>
          <div class="buttonDefault">
            <a href="/about.html"
              >About Page
              <div class="author">What is this site about?</div></a
            >
          </div>
        </ol>
        <h3>Other Pages</h3>
        <ol>
          <div class="buttonDefault">
            <a href="/admin"
              >Wiki Editor
              <div class="author">Also known as the CMS</div></a
            >
          </div>
          <div class="buttonDefault">
            <a href="/tests.html"
              >Site Tests
              <div class="author">Specific Pages for testing stuff</div></a
            >
          </div>
          <div class="buttonDefault">
            <a href="/donationPage.html"
              ><i class="ph-bold ph-hand-heart" style="color: var(--colorPrimary)"></i> Donation Page
              <div class="author">How Generous!</div></a
            >
          </div>
        </ol>
        <h3 class="hideMe">News</h3>
        <ol class="hideMe">
          {% for post in site.categories.postsNews %}
          <div class="buttonDefault hideMe">
            <a href="{{ post.url }}"
              >{{ post.title }}
              <div class="author">Written by {{ post.author }}</div></a
            >
          </div>
          {% endfor %}
        </ol>
        <h3 class="hideMe">Blog Posts</h3>
        <ol class="hideMe">
          {% for post in site.categories.postsBlog %}
          <div class="buttonDefault hideMe">
            <a href="{{ post.url }}"
              >{{ post.title }}
              <div class="author">Written by {{ post.author }}</div></a
            >
          </div>
          {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
</div>
