#notAFullTitleContainer {
  text-align: center;
}

#titleContainer {
  text-align: center;
  min-width: 100%;
  margin-top: 124px;

  #footNoteRight {
    align-self: center;
    margin-right: 0;
  }
}
