#titleContainer {
  display: flex;
  flex-direction: column;
  min-width: 76rem;

  h1 {
    align-self: center;
    font-size: 42px;
    font-style: italic;
    margin-bottom: 8px;
  }

  #footNote {
    margin-bottom: 58px;
    color: gray;
    font-weight: 600;
    align-self: center;
  }

  #notesContainer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 15px;

    /* footnote but on the right side */
    #footNoteRight {
      align-self: flex-end;
      text-align: right;
      font-weight: 600;

      margin-left: 14px;
      margin-right: 48px;
    }
    /* footnote but on the left side */
    #footNoteLeft {
      align-self: flex-end;
      text-align: left;
      font-weight: 600;
    }

    #breadcrumbs {
      display: flex;
      align-self: flex-end;
      text-align: left;
      font-weight: 600;
      margin-left: 48px;
    }
  }
}

#notAFullTitleContainer h1 {
  font-style: italic;
  margin-top: 164px;
  margin-bottom: 76px;
}

@media screen and not (max-width: 1230px) {
  @import "./desktop.scss";
}

@media screen and (max-width: 1230px) {
  @import "./mobile.scss";
}
