.profile-wrapper {
  padding: 0 10px;

  .profile-card {
    height: 60px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 10px;
    background: var(--colorCardDivisor);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

    .profile-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      #pfp {
        width: 40px;
        height: 40px;

        border-radius: 20px;
        outline: 2px solid var(--profile-accent);
      }

      #profile-details {
        #profile-header {
          color: var(--colorPrimary);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        p {
          color: var(--colorGray);
          font-size: 16px;
          font-style: italic;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .buttonLogin {
      display: flex;
      width: 40px;
      height: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      border-radius: 5px;
      background: var(--colorLight);

      font-size: 14px;
      line-height: normal;
      color: var(--colorWhite);
      transition: 200ms;

      i {
        color: var(--colorGray);
        font-size: 26px;
        transition: 200ms;
      }

      &:hover {
        background: var(--colorCardDivisorHover);
        transition: 50ms;

        i {
          color: var(--colorWhite);
          transition: 50ms;
        }
      }
    }
  }
} // haiiii :3333
