---
layout: "wrapper"
---

<!-- Apply contend wedge script -->
<script src= {{ "assets/scripts/articles.js" | relative_url }} defer=""></script>
<!-- https://github.com/CamelliaCommunity/Wiki/edit/beta/{{ page.path }} -->

<!-- Main Page -->
<main>
  <div id="titleContainer">
    <h1>{{ page.title }}</h1>
    <p id="footNote">Written by {{ page.author }} {% if page.date %}on {{ page.date | date_to_string: "ordinal", "US" }}{% endif %}.</p>
    <div id="notesContainer">
      {% include breadcrumbs.html page=page %}
	  {% assign pagePath = page.path | replace: 'postsInclude', 'includedPosts' | replace: 'postsBlog', 'blogPosts' | replace: 'postsWiki', 'wikiPosts' | replace: 'postsNews', 'newsPosts' | replace: '_posts', 'entries' | replace: '.md', '' %}
      <a id="footNoteRight" href="/admin/#/collections/{{ pagePath }}" target="_blank">Edit This Page!</a>
    </div>
  </div>
  <div class="cardBackground">
    <div id="contentWedge">
      <div id="wedgeContainer">
        <h2>Contents</h2>
        <hr />
        <nav id="wedgeItems">
          <ol></ol>
          <!-- In javascript, there will be new items listed here with each <h2> -->
        </nav>
      </div>
    </div>
    <div class="card">
      <div class="cardContents">{{ content }}</div>
    </div>
  </div>
</main>
