---
layout: "wrapper"
---

<!-- Main Page -->
<main>
  <div class="titleContainer">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="cardBackground">
    <div class="card">
      <div class="cardHeader">
        <h2>Hey, you!</h2>
      </div>
      <div class="cardContents">
        <p>
          this is a default layout and should not be used. please specify a
          layout to use in order to load this page correctly!
        </p>
        {{ content }}
        <div class="picture centerItem">
          <figure>
            <img class="sizingCSS" src={{ "assets/images/404.png" | relative_url
            }} alt="pageInvalid" />
            <figcaption>Page Invalid!</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</main>
