---
layout: "wrapper"
---

<!-- Add dots to links -->
<style type="text/css" media="screen">
  .miniCard .centerItem a::after {
    content: "•";
    color: white;
    cursor: default;
    pointer-events: none;
    margin-left: 4px;
    margin-right: 4px;
  }
  .miniCard .centerItem a:last-child::after {
    display: none;
  }
</style>

<main>
  <div id="notAFullTitleContainer">
    <h1>Welcome to the Camellia Info Dump (WIP)</h1>
  </div>
  <div class="cardBackground">
    <div class="gridLayout">
      <div class="card">
        <div class="cardHeader">
          <h2>Let's Get Started!</h2>
          <a href="{% link _posts/2023-11-22-funfacts.md %}">Fun Facts</a>
          <p>•</p>
          <a href="{% link _posts/2023-11-22-featuredgames.md %}">Featured Rhythm Games</a>
          <p>•</p>
          <a href="{% link _posts/2023-11-16-discography.md %}">Discography</a>
        </div>
        <p>Welcome to the Camellia Wiki!</p>
      </div>

      {% for article in site.articles %}
      <div class="miniCard">
        <div class="cardHeader">
          <h2><a class="makeBig" href="{{ article.url }}">{{ article.title }}</a></h2>
        </div>
        <p>{{ article.description }}</p>
        <p class="centerItem">
          <!-- display posts linked inside article markdown -->
          {% assign post_linked = false %} {% for post in site.posts %} {% if article.include contains post.title %} {%
          assign post_linked = true %}
          <a href="{{ post.url }}">{{ post.title }}</a>{% endif %} {% endfor %}
        </p>
      </div>
      {% endfor %} {% for post in site.posts %} {% assign post_linked = false %} {% for article in site.articles %} {%
      if article.include contains post.title %} {% assign post_linked = true %} {% break %} {% endif %} {% endfor %} {%
      unless post_linked %}
      <div class="miniCard">
        <div class="cardHeader">
          <h2>{{ post.title }}</h2>
        </div>
        <p>{{ post.description }}</p>
        <p class="centerItem">
          <a href="{{ post.url }}">Click here to view.</a>
        </p>
      </div>
      {% endunless %} {% endfor %}
    </div>
  </div>
</main>
