---
layout: "wrapper"
---

<!-- Add some styles to things -->
<style type="text/css" media="screen">
  #titleContainer #footNote {
    color: white;
    margin-bottom: 76px;
  }
  .card {
    max-width: fit-content;
    margin-bottom: 10px;
  }
  .cardBackground {
    max-width: 1220px;
  }
  .alignmentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>

<main>
  <div id="titleContainer">
    <h1>Welcome to the Camellia Wiki</h1>
    <p id="footNote">Where most of Camellia's work is documented. Including the fandom.</p>
  </div>
  <div class="cardBackground">
    <div class="alignmentContainer">
      <div class="card">
        <div class="cardContents">
          <div class="cardHeader">
            <h2>Let's Get Started!</h2>
          </div>
          <p>
            The Header has important buttons to keep in mind. The navigation bar, the search bar, the GitHub button, and
            the Discord button.
          </p>
          <p>
            Each of these buttons serve a purpose with navigation, including navigating you out of the site! It is
            recommended to use this homepage or to use the navigation bar when exploring the site. If you know what
            you're looking for, use the search bar in the header to search for a article. You can search author names
            too!
          </p>
        </div>
      </div>
      <div class="gridLayout">
        {% for post in site.categories.postsWiki %}
        <div class="miniCard">
          <div class="cardContents">
            <div class="cardHeader">
              <h2>{{ post.title }}</h2>
            </div>
            <p>{{ post.description }}</p>
            <div class="buttonDefault">
              <a href="{{ post.url }}">Click Here to View </a>
            </div>
            {% for post in site.posts %} {% if post.include contains post.title %}
            <h3>What's also Included</h3>
            <hr />

            <p><a href="{{ post.url }}">{{ post.title }}</a>{% endif %} {% endfor %}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="navWedge">
      <div id="navWedgeContainer">
        <h3>Community Posts</h3>
        <hr />
        <nav id="navWedgeItems">
          <h3>News</h3>
          <ol>
            {% for post in site.categories.postsNews %}
            <div class="buttonDefault">
              <a href="{{ post.url }}"
                >{{ post.title }}
                <div class="author">Written by {{ post.author }}</div></a
              >
            </div>
            {% endfor %}
          </ol>
          <h3>Blog Posts</h3>
          <ol>
            {% for post in site.categories.postsBlog %}
            <div class="buttonDefault">
              <a href="{{ post.url }}"
                >{{ post.title }}
                <div class="author">Written by {{ post.author }}</div></a
              >
            </div>
            {% endfor %}
          </ol>
        </nav>
      </div>
    </div>
  </div>
</main>
