---
layout: "wrapper"
---

<!-- Add dots to links -->
<style type="text/css" media="screen">
  .miniCard .centerItem a::before {
    content: "•";
    color: white;
    cursor: default;
    pointer-events: none;
    margin-left: 4px;
    margin-right: 4px;
  }
  .miniCard .centerItem a:first-child::before {
    display: none;
  }

  .makeBig {
    font-size: 32.44px !important;
  }

  #titleContainer #footNote {
    color: white;
    margin-bottom: 76px;
  }
</style>

<main>
  <div id="titleContainer">
    <h1>Welcome to the Camellia Wiki</h1>
    <p id="footNote">where most of Camellia's work is documented. Including the fandom.</p>
  </div>
  <div class="cardBackground">
    <div id="contentWedge">
      <div id="wedgeContainer">
        <h2>Contents</h2>
        <hr />
        <nav id="wedgeItems">
          <ol></ol>
          <!-- In javascript, there will be new items listed here with each <h2> -->
        </nav>
      </div>
    </div>
    <div class="gridLayout">
      <div class="card">
        <div class="cardHeader">
          <h2>Let's Get Started!</h2>
        </div>
        <p>
          The Header has important buttons to keep in mind. The navigation bar, the search bar, the GitHub button, and
          the Discord button.
        </p>
        <p>
          Each of these buttons serve a purpose with navigation, including navigating you out of the site! It is
          recommended to use this homepage or to use the navigation bar when exploring the site. If you know what you’re
          looking for, use the search bar in the header to search for a article. You can search author names too!
        </p>
      </div>

      {% for article in site.articles %}
      <div class="miniCard">
        <div class="cardHeader">
          <h2><a class="makeBig" href="{{ article.url }}">{{ article.title }}</a></h2>
        </div>
        <p>{{ article.description }}</p>
        <p class="centerItem">
          <!-- display posts linked inside article markdown -->
          {% assign post_linked = false %} {% for post in site.posts %} {% if article.include contains post.title %} {%
          assign post_linked = true %}
          <a href="{{ post.url }}">{{ post.title }}</a>{% endif %} {% endfor %}
        </p>
      </div>
      {% endfor %} {% for post in site.posts %} {% assign post_linked = false %} {% for article in site.articles %} {%
      if article.include contains post.title %} {% assign post_linked = true %} {% break %} {% endif %} {% endfor %} {%
      unless post_linked %}
      <div class="miniCard">
        <div class="cardHeader">
          <h2>{{ post.title }}</h2>
        </div>
        <p>{{ post.description }}</p>
        <p class="centerItem">
          <a href="{{ post.url }}">Click here to view.</a>
        </p>
      </div>
      {% endunless %} {% endfor %}
    </div>
  </div>
</main>
