---
layout: "wrapper"
---

<!-- Main Page -->
<main>
  <div id="titleContainer">
    <h1>{{ page.title }}</h1>
    <p id="footNote">Written by {{ page.author }}</p>
    <p id="footNoteRight">
      <a
        href="https://github.com/papertek/papertek.github.io/edit/beta/{{ page.path }}"
        target="_blank"
        >Edit This Page!</a
      >
    </p>
  </div>
  <div class="cardBackground">
    <div class="card">
      <div class="cardContents">{{ content }}</div>
    </div>
  </div>
</main>
