---
layout: "wrapper"
---

<!-- Main Page -->
<!-- https://github.com/CamelliaCommunity/Wiki/edit/beta/{{ page.path }} -->
<style>
  .card { max-width: 1136px; }
  @media screen and (min-width: 1136px) { .card { min-width: 1136px; } }
  @media screen and (min-width: 720px) { .cardBackground, .card { width: 100%; } }
</style>
<main>
  <div id="titleContainer">
    <h1>{{ page.title }}</h1>
    <p id="footNote">
      Written by {{ page.author }} {% if page.date %}on {{ page.date | date_to_string: "ordinal", "US" }}{% endif %}.
    </p>
    <div id="notesContainer">
      {% include breadcrumbs.html page=page %} {% assign pagePath = page.path | replace: 'postsInclude', 'includedPosts'
      | replace: 'postsBlog', 'blogPosts' | replace: 'postsWiki', 'wikiPosts' | replace: 'postsNews', 'newsPosts' |
      replace: '_posts', 'entries' | replace: '.md', '' %}
      <a id="footNoteRight" href="/admin/#/collections/{{ pagePath }}" target="_blank">Edit This Page!</a>
    </div>
  </div>
  <div class="cardBackground">
    <div id="wikiArticle">
      <div class="card">
        <div class="cardContents">{{ content }}</div>
      </div>
    </div>
    {% include comments.html %}
  </div>
</main>
