---
layout: "wrapper"
---

<!-- Main Page -->
<main>
  <div id="notAFullTitleContainer">
    <h1>All Tests</h1>
  </div>
  <div class="cardBackground">
    <div class="card">
      <div class="cardHeader">
        <h2>You will find Tests Here</h2>
      </div>
      <div class="cardContents">
        <p>
          Located at the bottom are useful tests used throughout this site.
          Click a buttons to view the page.
        </p>
      </div>
      <div class="centerItem">
        <nav id="navigationButtons">
          <div class="buttonDefault">
            <a href="/tests/oneCardTest.html">One Card Test</a>
          </div>
          <div class="buttonDefault">
            <a href="/tests/twoCardTest.html">Two Card Test</a>
          </div>
          <div class="buttonDefault">
            <a href="/tests/pictureTest.html">Picture Test</a>
          </div>
          <div class="buttonDefault">
            <a href="/tests/pictureWrapTest.html">Picture Wrap Test</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</main>
