---
layout: "wrapper"
---

<!-- Add stupid styling -->
<style>
  img {
    float: right;
    border: 4px solid var(--secondaryColor1);
    border-radius: 10px;
    margin-left: 24px;
    transition: all 0.3s ease-in-out;
  }
  img:hover {
    border: 4px solid var(--hoverColor);
    transform: scale(1.02);
    overflow: hidden;
  }
</style>

<!-- Main Page -->
<main>
  <div id="notAFullTitleContainer">
    <h1>mark</h1>
  </div>
  <div class="cardBackground">
    <div class="gridLayout">
      <div class="card">
        <div class="cardHeader">
          <h2>Most notable Articles</h2>
          <a href="#">Discography</a>
          <p>•</p>
          <a href="#">Featured Rhythm Games</a>
          <p>•</p>
          <a href="#">Fun Facts</a>
        </div>
        {{ content }}
        <p>{{ bigCard }}</p>
      </div>
      <div class="miniCard">
        <div class="cardHeader">
          <h2>test1</h2>
        </div>
        <p>{{ first }}</p>
        <p class="centerItem">
          <!-- display posts linked inside article markdown -->
          <a href="{{ post.url }}"></a>
        </p>
      </div>
      <div class="miniCard">
        <div class="cardHeader">
          <h2>test2</h2>
        </div>
        <p>{{ second }}</p>
        <p class="centerItem">
          <a href="{{ post.url }}">Click here to view.</a>
        </p>
      </div>
    </div>
  </div>
</main>
